* {  
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: var(--text-color);

}

:root {
    --text-color: white;
    --bg-url: url(./Assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.5);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.1);
    --switch-bg: url(./Assets/MoonStars.svg);
}

.light {
    --text-color: black;
    --bg-url: url(./Assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0 , 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.01);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg: url(./Assets/Sun.svg);
}




body {
    /* --Ordem de background: color, image, repeat, position, size (preicsa do /)  */
    background: var(--bg-url) no-repeat top center/cover;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 56px;
    padding: 0 24px;  
}

#profile {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#profile img{
    width: 112px;
    border-radius: 40%;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin: 10px 0px;
}

#switch {
    
    position: relative;

    margin-bottom: 2vh;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg) no-repeat center;
    border: 0;
    border-radius: 50%;
    
    /* Position: ideias de alinhas */
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);

    transition: outline .05s;

    animation: slide-back 0.4s;
}

#switch button:hover{
    outline: 8px solid var(--highlight-color);
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;

    background: var(--surface-color);
    border: var(--stroke-color);
    backdrop-filter: blur(4px);
    border-radius: 9999px;

}

.light #switch button {
    animation: slide-in 0.4s forwards;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 60vw;
    max-width: 588px;
}

ul li a {
    

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px 24px;

    background: var(--surface-color) ;
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

    backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: background .2s;
}

ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

#social_links {
    display: flex;
    justify-content: space-around;
    font-size: 30px;

    margin-top: 20px;

    
}

#social_links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    
    transition: linear .1s;
    border-radius: 50%;
}

#social_links a:hover {
    background: var(--highlight-color);
    padding: 20px;
}

/* Media Queries */

@media (min-width: 700px) {
    :root {
        --bg-url: url(./Assets/bg-desktop.jpg);
    }

    .light {
        --bg-url: url(./Assets/bg-desktop-light.jpg);
    }
}

/* animation */

@keyframes slide-in {
    from {
        left: 0;
    }
    

    to{
        left: 50%;
    }
        
}

@keyframes slide-back {
    from {
        left: 50%;
    }
    

    to{
        left: 0;
    }
        
}